<div class="container my-5">

<div class="modal-outer d-flex justify-content-center align-items-center col-6 m-auto">
  <div id="modal-inner">
  </div>
</div>
  <%= render 'shared/table', slots: @slots, days: @days, hours: @hours%>
</div>
