<div class="container my-5">

  <div class="modal-outer col-12 m-auto">
    <div id="modal-inner">
    </div>
    <%= render 'shared/table', slots: @slots, days: @days, hours: @hours%>
  </div>

</div>
