<div class="container my-5">

  <div class="modal-outer col-12 m-auto">
    <div class="close-btn"> Close </div>
    <div class="modal-inner">
    </div>
  </div>

  <div class="col-12 m-auto">
    <%= render 'shared/table', slots: @slots, days: @days, hours: @hours%>
  </div>

</div>
