<div class="modal-outer d-flex justify-content-center align-items-center">
  <div class="modal-inner">
      <%= simple_form_for([@user, @reservation]) do |f| %>
        <%= f.submit %>
       <% end %>
  </div>
</div>
