<h1>Reserva de Sala</h1>

<table>
  <tr>
    <th class="px-4 border border-dark"> Horário </th>
    <% @days.each do |day| %>
    <th class="px-4 border border-dark"> <%= day %> </th>
    <% end %>
  </tr>
  <% @hours.each do |hour| %>
    <tr>
      <td class="p-4 border border-dark"> <%= hour %>:00  </td>
      <% @days.each do |day| %>
      <td class="p-4 border border-dark">
        <%= link_to "Disponivel", root_path %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
