<h1>Reserva de Sala</h1>

<table>
  <tr>
    <th> Horário </th>
    <% @days.each do |day| %>
    <th> <%= day %> </th>
    <% end %>
  </tr>
  <% @hours.each do |hour| %>
    <tr>
      <td> <%= hour %>:00  </td>
      <% @days.each do |day| %>
      <td> Disponivel  </td>
      <% end %>
    </tr>
  <% end %>
</table>
