.modal-inner {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50vw;
    background-color: white;
    border: solid 1px black;
    z-index: 3;
    padding: 20px;
    display: none;
    transition: 0.3 ease;
}

.close-btn {
  cursor: pointer;
  z-index: 4;
  position: fixed;
  right: 30%;
  top: 27.8%;
}

.modal-on {
  display: block;
}

.blur {
  filter: blur(5px);
  transition: 0.3 ease;
  pointer-events: none;
}

.opacity {
  transition: 0.3 ease;
  opacity: 0;
}
